body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background-image: linear-gradient(to bottom left, #a30044, #ffddf6);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Dancing Script', cursive;
}

#header {
    background-color: #1a0c108f;
    padding: 20px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: -20px;
    margin-left: -10px;
    margin-right: -10px;
    position: fixed;
    cursor: default;
    width: 100%;
    z-index: 1;
    animation: fadeIn 1.5s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

#description {
    animation: fadeIn 2s ease-in;
    cursor: default;
}

#description h2 {
    text-align: center;
    color: #772749;
    font-size: 24px;
    padding: 10px;
    margin-top: 160px;
}

#description p {
    text-align: center;
    color: #772749;
    font-size: 18px;
    padding: 10px;
}

#secretMessage {
    animation: fadeIn 2.5s ease-in;
}

#secretMessage input {
    background-color: #772749;
    color: rgb(216, 209, 209);
    display: flex;
    align-items: center;
    margin-top: 30px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    left: 39%;
}

#secretMessage input::placeholder {
    color: rgb(216, 209, 209);
}

#secretMessage input:focus {
    background-color: #491128;
    cursor: text;
    color: rgb(216, 209, 209);
}

#secretMessage button {
    background-color: #772749;
    color: rgb(216, 209, 209);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    left: 56%;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

#secretMessage button:hover {
    background-color: #a30044;
}

#secretMessage textarea {
    background-color: #772749;
    color: rgb(216, 209, 209);
    display: flex;
    align-items: center;
    margin-top: 80px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    left: 39%;
    width: 300px;
    height: 100px;
}

#secretMessage textarea:focus {
    background-color: #491128;
    cursor: text;
    color: rgb(216, 209, 209);
}

#secretMessage textarea::placeholder {
    color: rgb(216, 209, 209);
}

#secretMessage #heartButton {
    margin-left: 60px;
    padding: 8px;
    display: flex;
}

#credits {
    background-color: #1a0c108f;
    padding: 5px;
    text-align: center;
    color: white;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    cursor: default;
}

#credits {
    animation: fadeIn 3s ease-in;
}

#audioPlayer {
    align-items: right;
    display: flex;
    justify-content: right;
    margin-top: 70px;
}