body {
    background-image: linear-gradient(to bottom left, #a30044, #ffddf6);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#header h1 {
    text-align: center;
    font-family: cursive;
    color: black;
    font-size: 50px;
}