body {
    background-image: linear-gradient(to bottom left, #a30044, #ffddf6);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#header {
    background-color: #9706328f;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin-left: -10px;
    margin-top: -10px;
}

#header h1 {
    text-align: center;
    font-family: cursive;
    color: black;
    font-size: 50px;
}

