* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background-image: linear-gradient(to bottom left, #a30044, #ffddf6);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#content {
    flex-grow: 1;   
    padding: 20px;
}

#footer {
    background-color: #1a0c108f;
    padding: 10px;
    text-align: center;
    color: white;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    
}

