body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background-image: linear-gradient(to bottom left, #a30044, #ffddf6);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#header {
    background-color: #1a0c108f;
    padding: 20px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: -20px;
    margin-left: -10px;
    margin-right: -10px;
    font-style: oblique;
    font-weight: bold;
}

#description h2 {
    text-align: center;
    color: #772749;
    font-size: 24px;
    font-style: oblique;
    font-weight: bold;
    padding: 10px;
    margin-top: 50px;
}

#description p {
    text-align: center;
    color: #772749;
    font-size: 18px;
    padding: 10px;
}

#email input {
    background-color: #772749;
    display: flex;
    align-items: center;
    margin-top: 30px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: text;
    position: fixed;
    left: 47%;
    transform: translateX(-50%);
}

#email input::placeholder {
    color: rgb(216, 209, 209);
}

#email button {
    background-color: #772749;
    color: rgb(216, 209, 209);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: fixed;
    left: 58%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    margin-top: 30px;

}

#credits {
    background-color: #1a0c108f;
    padding: 5px;
    text-align: center;
    color: white;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    margin-left: -10px;
    margin-right: -10px;
    font-style: oblique;
    font-weight: bold;
    margin-top: 200px;
}